In [1]:
import pandas as pd
import os

In [2]:
period1_begining = pd.to_datetime('2021-01-15')
period1_end = pd.to_datetime('2021-06-30')
period2_begining = pd.to_datetime('2021-07-01')
period2_end = pd.to_datetime('2021-10-25')


def generate_periods(date):
      if period1_begining <= date.to_pydatetime() <= period1_end:
              return "Period 1"
      if period2_begining <= date.to_pydatetime() <= period2_end:
              return "Period 2"
      if date.to_pydatetime() > period2_end:
              return "Period 3"
      return "Exclude"

In [3]:
infected_vacc = pd.read_csv('https://data.egov.bg/resource/download/e9f795a8-0146-4cf0-9bd1-c0ba3d9aa124/csv')
hospitalized_vacc = pd.read_csv('https://data.egov.bg/resource/download/6fb4bfb1-f586-45af-8dd2-3385499c3664/csv')
deceased_vacc = pd.read_csv('https://data.egov.bg/resource/download/e6a72183-28e0-486a-b4e4-b5db8b60a900/csv')

In [4]:
infected_vacc.rename(columns={'Дата': 'date', 
                              'Ваксина':'vaccine', 
                              'Пол': 'gender', 
                              'Възрастова група': 'age_group', 
                              'Брой заразени': 'count_infected_vaccinated'}, inplace=True)

hospitalized_vacc.rename(columns={'Дата': 'date', 
                                  'Ваксина':'vaccine', 
                                  'Пол': 'gender', 
                                  'Възрастова група': 'age_group', 
                                  'Брой хоспитализирани': 'count_hospitalized_vaccinated'}, inplace=True)

deceased_vacc.rename(columns={'Дата': 'date', 
                              'Ваксина':'vaccine', 
                              'Пол': 'gender', 
                              'Възрастова група': 'age_group', 
                              'Брой починали': 'count_deceased_vaccinated'}, inplace=True)

In [5]:
# infected_vacc['date'] = pd.to_datetime(infected_vacc['date']) 
# hospitalized_vacc['date'] = pd.to_datetime(hospitalized_vacc['date']) 
# deceased_vacc['date'] = pd.to_datetime(deceased_vacc['date'])

In [6]:
for df in (infected_vacc, hospitalized_vacc, deceased_vacc):
    df['date'] = pd.to_datetime(df['date']) 
    df['Period'] = df.apply(lambda x: generate_periods(x['date']), axis=1)
    df.drop(['vaccine','gender', 'date'], axis=1, inplace=True)
    df = df.groupby(['Period', 'age_group'], as_index=False).sum()

In [7]:
# infected_vacc['Period'] = infected_vacc.apply(lambda x: generate_periods(x['date']), axis=1)
# hospitalized_vacc['Period'] = hospitalized_vacc.apply(lambda x: generate_periods(x['date']), axis=1)
# deceased_vacc['Period'] = deceased_vacc.apply(lambda x: generate_periods(x['date']), axis=1)

In [8]:
# infected_vacc.drop(['vaccine','gender', 'date'], axis=1, inplace=True)
# hospitalized_vacc.drop(['vaccine','gender', 'date'], axis=1, inplace=True)
# deceased_vacc.drop(['vaccine','gender', 'date'], axis=1, inplace=True)

In [9]:
# infected_vacc = infected_vacc.groupby(['Period', 'age_group'], as_index=False).sum()
# hospitalized_vacc = hospitalized_vacc.groupby(['Period', 'age_group'], as_index=False).sum()
# deceased_vacc = deceased_vacc.groupby(['Period', 'age_group'], as_index=False).sum()

In [10]:
mask = infected_vacc['age_group'] == '-'
infected_vacc = infected_vacc[~mask]
mask = hospitalized_vacc['age_group'] == '-'
hospitalized_vacc = hospitalized_vacc[~mask]
mask = deceased_vacc['age_group'] == '-'
deceased_vacc = deceased_vacc[~mask]

In [11]:
age_groups = ['12 - 14', '15 - 16', '17 - 19', '20 - 29', '30 - 39', 
              '40 - 49', '50 - 59', '60 - 69', '70 - 79', '80 - 89', '90+']

full_data = pd.DataFrame({
  'Period': [period for period in age_groups for period in ['Period 1', 'Period 2', 'Period 3']],
  'age_group': [age for age in age_groups for period in ['Period 1', 'Period 2', 'Period 3']]
})

In [ ]:
full_data = full_data.merge(infected_vacc, on=['Period', 'age_group'], how='left')
full_data = full_data.merge(hospitalized_vacc, on=['Period', 'age_group'], how='left')
full_data = full_data.merge(deceased_vacc, on=['Period', 'age_group'], how='left')

In [ ]:
full_data = full_data.sort_values(['Period', 'age_group'])

In [ ]:
full_data

In [ ]:
full_data.to_csv(os.path.join(os.getcwd(), "output_data", 'BG_Vaccinated_Infections_Periods[3].csv'), index=False)

In [15]:
full_data

,Period,age_group,count_infected_vaccinated,count_hospitalized_vaccinated,count_deceased_vaccinated
0,Period 1,12 - 14,NaN,NaN,NaN
3,Period 1,15 - 16,NaN,NaN,NaN
6,Period 1,17 - 19,NaN,NaN,NaN
9,Period 1,20 - 29,25.0,2.0,NaN
12,Period 1,30 - 39,58.0,2.0,NaN
15,Period 1,40 - 49,83.0,13.0,NaN
18,Period 1,50 - 59,132.0,17.0,NaN
21,Period 1,60 - 69,121.0,26.0,2.0
24,Period 1,70 - 79,57.0,15.0,2.0
27,Period 1,80 - 89,34.0,16.0,1.0
30,Period 1,90+,6.0,1.0,NaN
1,Period 2,12 - 14,11.0,NaN,NaN
4,Period 2,15 - 16,10.0,NaN,NaN
7,Period 2,17 - 19,84.0,2.0,NaN
10,Period 2,20 - 29,908.0,25.0,NaN
13,Period 2,30 - 39,2150.0,141.0,2.0
16,Period 2,40 - 49,3233.0,296.0,11.0
19,Period 2,50 - 59,3635.0,486.0,23.0
22,Period 2,60 - 69,3923.0,909.0,55.0
25,Period 2,70 - 79,2882.0,925.0,92.0
28,Period 2,80 - 89,817.0,387.0,58.0
31,Period 2,90+,46.0,28.0,5.0
2,Period 3,12 - 14,280.0,1.0,NaN
5,Period 3,15 - 16,311.0,4.0,NaN
8,Period 3,17 - 19,1117.0,11.0,NaN
11,Period 3,20 - 29,9315.0,150.0,2.0
14,Period 3,30 - 39,18908.0,454.0,13.0
17,Period 3,40 - 49,22893.0,933.0,34.0
20,Period 3,50 - 59,21527.0,1396.0,75.0
23,Period 3,60 - 69,16959.0,2335.0,180.0
26,Period 3,70 - 79,10377.0,2677.0,379.0
29,Period 3,80 - 89,2751.0,1081.0,227.0
32,Period 3,90+,160.0,65.0,19.0